<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="tests/autoload.php">
    <testsuites>
        <testsuite name="Ivory Google Map Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="API_KEY" value="AIzaSyDtwY_hEqr8yBBZ5CrWjVjoc54P_qdL35c" />
        <server name="API_SECRET" value="hqEBa9KVm8DFFK3_F77fQc8cLq4=" />
        <server name="BROWSER_NAME" value="chrome" />
        <server name="SELENIUM_HOST" value="selenium" />
        <server name="CACHE_PATH" value="build/tests/.cache" />
        <server name="CACHE_RESET" value="false" />
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
